.App-wrapper{
  display: grid;

  grid-template-areas: 
  "header header"
  "navigation content";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 20px;
}
.Header{
  grid-area: header;
  background-color: aquamarine;
}
.Header img{
  width: 60px;
}
.Navigation{
  grid-area: navigation;
  background-color: darkred;
}
.Content{
  grid-area: content;
  background-color: cornflowerblue;
}